* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-color: #FEFEFE;
}
.logo{
    font-family:'Allerta Stencil';
    font-size: 22px;
    color:#A18A68;
    display: flex;
    justify-content: flex-start;
    align-items:first baseline ;

}
.logo span{
    font-family:'Allerta Stencil';
    font-size: 22px;
    color:#686AA1;
}

header{
    position: sticky;
    top: 0;
    background: transparent;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FEFEFE;

}
header nav .logo {
    margin: 20px 0;
}
header nav .items {
    display: flex;
    justify-content: center;
    align-items: center;    
}
nav .items .search-wrapper a svg:hover{
    fill: #000;
}
header nav ul {
    display: flex;
    align-items: center;
    margin-right: 30px;
    gap: 40px;
    border-right: 2px solid #6666665e;
    padding-right: 30px;
}
header nav ul li {
    list-style: none;
}
header nav ul li a {
    color: black;
    text-decoration: none;
    transition: 0.3 ease;
}
header nav ul li a:hover{
    color: #686AA1;
    
}
header nav .search-wrapper svg:first-child {
    margin-right: 15px;
}
header nav .search-wrapper svg:last-child {
    margin-left: 15px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.cart {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding-left: 40px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

}
.description{
    width: 88%;
    height: 170vh;
}

.product {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.product img {
    width: 340px;
    height: 400px;
    object-fit: cover;
    margin-right: 10px;
}

.product-details {
    flex: 1;
    color: #707070;
}

h2 {
    font-size: 20px;
    color: #A18A68;
    margin: 0;
    margin-bottom: 30px;
}
p {
    font-size: 16px;
    margin: 5px 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    color: #707070;
}
span{
    font-size: 16px;
    margin: 5px 0;
    color: gold;
}
.quantity {
    text-align: center;
}
input#quantity {
    margin-top: 16px;
    width: 60px;
    height: 25px;
    background: #A18A68 ;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
}

.quantity label {
    font-size: 0.9rem;
}

.quantity input {
    width: 40px;
    font-size: 0.9rem;
    background-color: #A18A68;
    margin-bottom: 20px;
}
.product-details .card{
    background-color:#A18A68;
    width: 200px;
    height:35px;
    border-radius: 10px;
    color: #fff;
    display: block;
    margin: 20px;
    text-align: center;
    padding-top: 5px;
}
.product-description{
    margin-top: 10px;
}

#custom-divs a{
text-decoration: none;
color: gray;
}
#custom-divs{
    width: 100%;
    height: 60px;
    padding-top:  20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}
.more-informations{
    border-top:2px solid gray;
    display: flex;
    justify-content: space-between;
}

footer{
    margin-left: 30px;
    gap: 40px;
    border-top: 2px solid #6666665e;
    padding-left: 30px; 
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin-top: 300px;
}
footer .menu {
    display:flex;
    gap: 20px;
    text-decoration: none;
    padding-bottom: 20px;
    width: 70%;
}
footer .menu a{
    color: grey;
    text-decoration: none;
}
.footer{
    display: flex;  
    justify-content: space-between;
    margin: 20px 0;
    color: #707070;
}
.top{
    display: flex;
    justify-content: space-between;
    padding-bottom:8px ;
    margin-bottom: 10px;
    border-bottom: #333 solid 1px;
}
.input{
    width: 30%;
}
.email{
    border: none;
    width: 300px;
}
.social{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 20px;
}
@media (max-width: 769px){
    header nav {
        display: flex;
        justify-content: space-between;
    }
    nav .items .search-wrapper a svg{
        width: 15px;
    }
    #ul-appended{
        display: none;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 31px 42px;
    }
    footer .input{
        margin-right: 10px;
        align-self: flex-end;
    }
    .email {
        width: 209px;
    }
}
